---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  FLASK: {
    name: "Flask",
    class: "bg-[#afb5ff] text-white",
  },
  ANDROID: {
    name: "Android Studio",
    class: "bg-[#a4c639] text-white",
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#4584b6] text-white",
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#B125EA] text-white",
  },
  JAVA: {
    name: "Java",
    class: "bg-[#5382a1] text-white",
  },
  PHP: {
    name: "PHP",
    class: "bg-[#474A8A] text-white",
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#4DB33D] text-white",
  },
  
};
const PROJECTS = [
  {
    title: "SafeBit",
    subtitle: " - Gestor de contraseñas (Web)",
    description:
      "SafeBit es un gestor de contraseñas seguro desarrollado con Flask. Utiliza el algoritmo PBKDF2 para cifrar las contraseñas mediante una clave maestra, asegurando que solo el usuario tenga acceso. La versión web ofrece una interfaz sencilla y segura para gestionar tus credenciales de manera eficiente.",
    github: "https://github.com/dav1dgf/PasswordManagerFlask",
    image: "/safebit_web.jpg",
    tags: [TAGS.FLASK, TAGS.PYTHON],
  },
  {
    title: "SafeBit",
    subtitle: " - Gestor de contraseñas (Android)",
    description:
      "La versión móvil de SafeBit para Android ofrece las mismas funcionalidades de gestión de contraseñas que la versión web, pero optimizada para dispositivos móviles. Utiliza la misma tecnología de cifrado y protección, permitiendo que accedas a tus contraseñas de forma segura desde cualquier lugar.",
    github: "https://github.com/dav1dgf/SafebitPasswordManagerAndroid",
    image: "/android_studio.jpg",
    tags: [TAGS.ANDROID, TAGS.JAVA, TAGS.KOTLIN],
  },
  {
  "title": "Space Gallery",
  "subtitle": " - Una Galería de Fotos Espaciales (Web)",
  "description": "PHPGallery es una aplicación web desarrollada en PHP con el patrón MVC, diseñada para gestionar y mostrar galerías de fotos. Ofrece funciones como subida de archivos, aplicación de marcas de agua, generación de miniaturas y una galería interactiva con MongoDB como base de datos. La aplicación también incluye autenticación de usuarios, opciones de privacidad para fotos y un motor de búsqueda con AJAX.",
  "github": "https://github.com/dav1dgf/phpGallery",
  "image": "/galleryphp.jpg",
  "tags": [TAGS.PHP, TAGS.MONGO],
}

];


---

<div class="flex flex-col gap-y-8 sm:gap-y-12 md:gap-y-16">
  {
    PROJECTS.map(
      ({ image, title, subtitle, description, tags, link, github }) => (
        <article class="flex flex-col space-x-0 space-y-4 sm:space-y-6 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt={`${title} project screenshot`}
                class="object-cover object-top w-full h-48 sm:h-56 md:h-full transition duration-500 md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg px-2 sm:px-0">
            <h3 class="text-xl sm:text-2xl font-bold text-gray-300 dark:text-gray-400">
              <span class="text-red-200/90">{title}</span>
              <span class="text-sm sm:text-base md:text-lg">{subtitle}</span>
            </h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-wrap mb-2 gap-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>

              <div class="mt-2 text-sm sm:text-base text-gray-500 dark:text-gray-400">
                {description}
              </div>
              <footer class="flex items-end justify-start mt-4 gap-x-2 sm:gap-x-4">
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-5 sm:size-6" />
                    <span class="text-sm sm:text-base">Code</span>
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-3 sm:size-4" />
                    <span class="text-sm sm:text-base">Preview</span>
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </article>
      ),
    )
  }
</div>
